li {
	text-align : justify;
	font-family : Arial;
	font-size : 10pt;
	margin: 15px;
}
BODY {
	margin-left : 15px;
	margin-right : 15px;
	margin-top : 15px;
	margin-bottom : 15px;
	background : url(back.jpg);
}
H1 {
	font-family : "Courier New";
	font-size : 16pt;
	text-align : center;
	color : Navy;
}
P {
	text-align : justify;
	font-family : Arial;
	font-size : 10pt;
	margin: 15px;
}

